thStyle(padding = 14px, fontSize = 1.6em,color=#ffffff,backgroundColor=#8ab928,border=1px solid #7ca624)
  .table-wrapper
    th
      padding: 14px
      font-size: 1.6em
      color: #ffffff
      background-color: #8ab928
      border: 1px solid #7ca624


tdStyle(padding=14px,fontSize=1.4em,color=#919191,backgroundColor=#ffffff,border=1px solid #dedede)
  .table-wrapper
    td
      padding padding
      font-size fontSize
      color color
      background-color backgroundColor
      border border


table()
  .table-wrapper
    width 100%
    margin-top 30px
    table
      border-collapse: collapse;
      empty-cells: show;
      table-layout: fixed;
      border-spacing: 15px;
      width: 100%;
      td
        text-align center
