body {
  font-size: 63%;
  font-family: "微软雅黑";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: #000;
}
.pagination {
  margin-top: 20px;
  width: 500px;
  height: 43px;
}
.pagination ul li {
  float: left;
  margin-left: 25px;
  width: 35px;
  height: 35px;
}
.pagination ul li.spc-page {
  width: 60px;
}
.pagination ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #00bff3;
  color: #000;
}
